<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Reddit Clone</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->

      </head>

      <body>
        
        <header>
            {%include 'navbar.html'%}
        </header>   

        
        <div class="container">
            <div class="row">
            {% include 'pm-modal.html' %}

                <div class="col-xs-12 nav-section-margin-fix">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="col-xs-12 content-container clearfix">

                    {% if page == 'index' %}
                    <div class="subscription-title text-center">
                        <h2>Front</h2>
                        <hr>
                    </div>

                    {% for t, u, p, s in threads %}
                    <div class="row thread-single-container">
                        <!--Image-->
                        <div class="col-sm-3 col-md-2 thread-image-container">
                            <img class="img-rounded img-responsive thread-image center-block" src="{{url_for('static', filename='img/temp.jpg')}}">
                        </div>

                        <!--Thread title/info--> 
                        <div class="col-sm-6 col-md-8 thread-info-container">
                            {% if t.link %}
                            <a href="{{t.content}}"><h3>{{t.title}} ({{s.title}})</h3></a>
                            {% else %}
                            <a href="{{url_for('sub_thread', sub_title=s.title, thread_id=t.id)}}"><h3>{{t.title}} ({{s.title}})</h3></a>
                            {% endif %}
                            <div class="thread-bottom-line">
                                <ul class="list-inline">
                                    <li><p>Posted By: <a class="send-pm" id="{{u.username}}" href="#pmModal" data-toggle="modal" data-target="#pmModal">{{u.username}}</a></p></li>
                                    <li><p>{{timesince(t.date_created)}}</p></li>
                                </ul>    
                            </div>
                        </div>

                        <!--Comments/hover-->
                        <div class="col-sm-3 col-md-2 thread-other-container">
                            <div class="row">
                                <div class="col-md-12 thread-posts-container">
                                    <a href="{{url_for('sub_thread', sub_title=s.title, thread_id=t.id)}}"><img src="{{url_for('static', filename='img/post.png')}}" class="img-responsive postimage">
                                        {{p}} posts</a>
                                    </div>
                                    <div class="col-md-12 thread-type-container">
                                        {% if t.link %}
                                        <a href="{{t.content}}">{{t.content}}</a>
                                        <br>
                                        {%else%}
                                        <p>Discussion</p>
                                        {% endif %}
                                        <a href="{{url_for('upvote_thread', sub_title=s.title, thread_id=t.id)}}">{{t.upvotes}} upvotes</a>
                                        <br>
                                        <a href="{{url_for('downvote_thread', sub_title=s.title, thread_id=t.id)}}">{{t.downvotes}} downvotes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        {% elif page == 'sub_threads' %}
                        {% include 'discussion_modal.html' %}
                        {% include 'link_modal.html' %}
                        <div class="subscription-title text-center">
                            <h2>{{sub_title}}</h2>
                            <hr>
                        </div>

                        {% if 'USERNAME' in session %}
                        <div class="thread-actions">
                            <ul>
                                <li><a href="#createlinkModal" data-toggle="modal" data-target="#createlinkModal"class="btn btn-default round-button">Create Link</a></li>
                                <li><a href="#creatediscussionModal" data-toggle="modal" data-target="#creatediscussionModal" class="btn btn-default round-button">Create Discussion</a></li>
                            </ul>
                        </div>
                        {% endif %}

                        <div class="content-sort-container text-center">
                            <a class="btn btn-default roundbutton" href="{{url_for('sub_title', sub_title=sub_title,page=1,sort='links')}}">Links</a>
                            <a class="btn btn-default roundbutton" href="{{url_for('sub_title', sub_title=sub_title,page=1,sort='discussions')}}">Discussions</a>
                            <a class="btn btn-default roundbutton" href="{{url_for('sub_title', sub_title=sub_title,page=1,sort='oldest')}}">Oldest</a>
                            <a class="btn btn-default roundbutton" href="{{url_for('sub_title', sub_title=sub_title,page=1,sort='newest')}}">Newest</a>
                            <a class="btn btn-default roundbutton" href="{{url_for('sub_title', sub_title=sub_title,page=1,sort='upvoted')}}">Most Upvoted</a>
                            <a class="btn btn-default roundbutton" href="{{url_for('sub_title', sub_title=sub_title,page=1,sort='downvoted')}}">Most Downvoted</a>
                        </div>

                        {% include 'sub.html' %}
                        
                        {% elif page == 'thread' %} 
                        

                        {% include 'thread_posts.html' %}
                        {% elif page == 'create_sub' %}
                        {% include 'create_sub.html'%}
                        {% elif page == 'user_settings' %}
                        {% include 'user_settings.html' %}
                        {% endif %}
                    </div>
                </div>
                
            </div>

            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
            <script src="{{url_for('static', filename='js/custom.js')}}"></script>
        </body>
        </html>