<!-- Modal -->
<form method="post" id="createPost" action="{{url_for('create_post', sub_title=sub_title, thread_id=thread.id)}}">
  <div class="modal fade" id="createpostModal" tabindex="-1" role="dialog" aria-labelledby="createpostModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createpostModalLabel">Create A Post</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="contentField" class="control-label">Post Content:</label>
            <textarea class="form-control" id="contentField" name="contentField"></textarea>
            <input type="hidden" name="hiddenreply" value="0" id="hiddenreply"/>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" name="create" value="Create">
        </div>
      </div>
    </div>
  </div>        
</form>
