<!-- Modal -->
<form method="post" action="{{url_for('create_sub')}}">
	<div class="modal fade" id="createsubModal" tabindex="-1" role="dialog" aria-labelledby="createsubModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="createsubModalLabel">Create A Sub</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="sub_title" class="control-label">Title:</label>
						<input type="text" class="form-control" id="sub_title" name="sub_title">
					</div>

					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" name="create" value="Create">
					</div>
				</div>

			</div>
		</div>
	</div>      
</form>  
