<!-- Modal -->
<form method="post" action="{{url_for('create_thread', sub_title=sub_title)}}">
  <div class="modal fade" id="creatediscussionModal" tabindex="-1" role="dialog" aria-labelledby="creatediscussionModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="creatediscussionModalLabel">Create A Discussion</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titleField" class="control-label">Thread Title:</label>
            <input type="text" class="form-control" id="titleField" name="titleField">
          </div>
          <div class="form-group">
            <label for="contentField" class="control-label">Content:</label>
            <textarea class="form-control" id="contentField" name="contentField"></textarea>
            <input type="hidden", name="isLink" value="False">
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" name="create" value="Create">
        </div>
      </div>
    </div>
  </div>        
</form>
