<!-- Modal -->
<form method="post" action="{{url_for('create_thread', sub_title=sub_title)}}">
  <div class="modal fade" id="createlinkModal" tabindex="-1" role="dialog" aria-labelledby="createlinkModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createlinkModalLabel">Create A Link</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titleField" class="control-label">Thread Title:</label>
            <input type="text" class="form-control" id="titleField" name="titleField">
          </div>
          <div class="form-group">
            <label for="contentField" class="control-label">Link:</label>
            <input type="text" class="form-control" id="contentField" name="contentField">
            <input type="hidden", name="isLink" value="True">
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" name="create" value="Create">
        </div>
      </div>
    </div>
  </div>        
</form>
