{% include 'signin_modal.html' %}
{% include 'signup_modal.html' %}
{% include 'create_sub_modal.html' %}

<nav class="navbar navbar-default navbar-fixed-top nav">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">Reddit Clone</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right nav-links">
                {% if "USERNAME" in session %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#createsubModal" data-toggle="modal" data-target="#createsubModal">Create a sub</a></li>

                        {% for sub in subs %}
                        <li><a href="{{url_for('sub_title', sub_title=sub.title, page=1)}}">{{sub.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{url_for('user_settings', user_id=user.id)}}">Settings</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% else %}
                <li><a href="#signinModal" data-toggle="modal" data-target="#signinModal">Login</a></li>
                <li><a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
