<!-- Modal -->
<form method="post" action="{{url_for('send_pm')}}">
  <div class="modal fade" id="pmModal" tabindex="-1" role="dialog" aria-labelledby="pmModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pmModalLabel">Send A Private Message</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="subjectField" class="control-label">Subject:</label>
            <input type="text" class="form-control" id="subjectField" name="subjectField">
          </div>
          <div class="form-group">
            <label for="messageField" class="control-label">Message:</label>
            <textarea class="form-control" id="messageField" name="messageField"></textarea>
            <input type="hidden" name="hiddenRec" value="0" id="hiddenRec"/>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" name="create" value="Send PM">
        </div>
      </div>
    </div>
  </div>        
</form>
