<!-- Modal -->
<form method="post" action="{{url_for('login')}}">
  <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="signinModalLabel">Sign In</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="usernameField" class="control-label">Username:</label>
            <input type="text" class="form-control" id="usernameField" name="usernameField">
          </div>
          <div class="form-group">
            <label for="passwordField" class="control-label">Password:</label>
            <input type="password" class="form-control" id="passwordField" name="passwordField"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" name="login" value="Login">
        </div>
      </div>
    </div>
  </div>        
</form>
