
{% for t, u, p in threads %}
<div class="row thread-single-container">
    <!--Image-->
    <div class="col-sm-3 col-md-2 thread-image-container">
        <img class="img-rounded img-responsive thread-image center-block" src="{{url_for('static', filename='img/temp.jpg')}}">
    </div>

    <!--Thread title/info--> 
    <div class="col-sm-6 col-md-8 thread-info-container">
        {% if t.link %}
            <a href="{{t.content}}"><h3>{{t.title}}</h3></a>
        {% else %}
            <a href="{{url_for('sub_thread', sub_title=sub_title, thread_id=t.id)}}"><h3>{{t.title}}</h3></a>
        {% endif %}
        <div class="thread-bottom-line">
            <ul class="list-inline">
                <li><p>Posted By: <a href="#">{{u.username}}</a></p></li>
                <li><p>{{timesince(t.date_created)}}</p></li>

                {% if 'USERNAME' in session %}
                <li><a href="#">Share</a></li>
                <li><a href="#">Save</a></li>
                {% endif %}
                
            </ul>    
        </div>
    </div>

    <!--Comments/hover-->
    <div class="col-sm-3 col-md-2 thread-other-container">
        <div class="row">
            <div class="col-md-12 thread-posts-container">
                <a href="{{url_for('sub_thread', sub_title=sub_title, thread_id=t.id)}}"><img src="{{url_for('static', filename='img/post.png')}}" class="img-responsive postimage">
                {{p}} posts</a>
            </div>
            <div class="col-md-12 thread-type-container">
            {% if t.link %}
                <a href="{{t.content}}">{{t.content}}</a>
            {%else%}
                <p>Discussion</p>
            {% endif %}
                <br>
                <a href="{{url_for('upvote_thread', sub_title=sub_title, thread_id=t.id)}}">{{t.upvotes}} upvotes</a>
                <br>
                <a href="{{url_for('downvote_thread', sub_title=sub_title, thread_id=t.id)}}">{{t.downvotes}} downvotes</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if pagination.has_next %}
<div class="row">
    <div class="col-sm-12 load-more-container text-center">
        <a href="{{url_for('sub_title', sub_title=sub_title, page=pagination.next_num)}}" class="btn btn-default roundbutton">Load More</a>
    </div>
</div>
{% endif %}
