
<div class="subscription-title text-center">
    <h2>{{thread.title}}</h2>
    <hr>
</div>

{%include 'create_post_modal.html' %}


{% if 'USERNAME' in session %}
<div class="thread-actions">
    <ul>
        <li><a href="#createpostModal" data-toggle="modal" id="0" data-target="#createpostModal" class="btn btn-default round-button">Create Post</a></li>
    </ul>
</div>
{% endif %}

<div class="row thread-single-container thread-content-marked">
    <!--Image-->
    <div class="col-sm-3 col-md-2 thread-post-avatar-container">
        <img class="img-circle img-responsive avatar-image center-block" src="{{url_for('static', filename='img/temp.jpg')}}">
    </div>

    <!--Thread title/info--> 
    <div class="col-sm-6 col-md-8 post-info-container">
        <p>{{thread.content}}</p>

        <div class="thread-bottom-line">
            <ul class="list-inline">
                <li><p>Posted By: <a class="send-pm" id="{{thread_creator.username}}" href="#pmModal" data-toggle="modal" data-target="#pmModal">{{thread_creator.username}}</a></p></li>
                <li><p>{{timesince(thread.date_created)}}</p></li>

                {% if 'USERNAME' in session %}
                <li><a href="#">Share</a></li>
                <li><a href="#">Save</a></li>
                {% endif %}
            </ul>    
        </div>
    </div>
</div>

{% for p in al recursive %}
{% if p.parent_id == 0 %}
<div class="row post-content-container">
{% else %}
<div class="row post-content-container-reply">
{% endif %}
    <!--Image-->
    <div class="col-sm-3 col-md-2 post-avatar-container">
        <img class="img-circle img-responsive avatar-image center-block text-center" src="{{url_for('static', filename='img/temp.jpg')}}">
    </div>

    <!--Thread title/info--> 
    <div class="col-sm-6 col-md-8 post-info-container">
        <p>{{p.content}}</p>

        <div class="thread-bottom-line">
            <ul class="list-inline">
                <li><p>Posted By: <a class="send-pm" id="{{get_user(p.user_id).username}}" href="#pmModal" data-toggle="modal" data-target="#pmModal">{{get_user(p.user_id).username}}</a></p></li>
                <li><p>{{timesince(p.date_created)}}</p></li>
                
                {% if 'USERNAME' in session %}
                <li><p><a class="createReply" href="#createpostModal" data-toggle="modal" data-target="#createpostModal" id="{{p.id}}">Reply</a></p></li>
                {% endif %}
            </ul>    
        </div>
    </div>
    <div class="col-sm-3 col-md-2 thread-other-container">
        <div class="row">
            <div class="col-md-12 thread-type-container">
                <a href="{{url_for('upvote_post', sub_title=sub_title, thread_id=thread.id, post_id=p.id)}}">{{p.upvotes}} upvotes</a><br>
                <a href="{{url_for('downvote_post', sub_title=sub_title, thread_id=thread.id, post_id=p.id)}}">{{p.downvotes}} downvotes</a>
            </div>
        </div>
    </div>
</div>

{% if p.children %}
    {{loop(p.children)}}
{% endif %}
{% endfor %}

