<div class="subscription-title text-center">
    <h2>{{user.username}}</h2>
    <hr>
</div>


<div class="row">
	<div class="col-sm-12 pm-container text-center">
		
		<div class="col-xs-4">
			<p>Sender:</p>
		</div>

		<div class="col-xs-4">
			<p>Subject:</p>
		</div>

		<div class="col-xs-4">
			<p>Date Sent:</p>
		</div>

		{% for p in pms %}
	
		{% if loop.index > 5 %}

		
		<div class="pm-con">
			<div class="col-xs-4 pm-moreover pms-looped pm-click">
				<a>{{p.sender}}</a>
			</div>

			<div class="col-xs-4 pm-moreover pms-looped pm-click">
				<a>{{p.title}}</a>
			</div>

			<div class="col-xs-4 pm-moreover pms-looped pm-click">
				<a>{{timesince(p.date_sent)}}</a>
			</div>

			<div class="col-xs-12 pm-message pm-body">
				<p>{{p.message}}</p>
			</div>
		</div>

		{% else %}
		<div class="pm-con">
			<div class="col-xs-4 pm-click">
				<a>{{p.sender}}</a>
			</div>

			<div class="col-xs-4 pm-click">
				<a>{{p.title}}</a>
			</div>

			<div class="col-xs-4 pm-click">
				<a>{{timesince(p.date_sent)}}</a>
			</div>

			<div class="col-xs-12 pm-message pm-body">
				<p>{{p.message}}</p>
			</div>
		</div>
		{% endif %}

		{% endfor %}

		<div class="col-sm-12 settings-more-button ">
			<a id="show-more-pms" class="btn btn-default roundbutton text-center">Show More</a> 
		</div>
	</div>
</div>

<hr>

<div class="row settings-update-container">
	<form method="post" action="{{url_for('update_details', user_id=user.id)}}">
		<div class="col-sm-12 col-md-6">
		
		    <div class="form-group">
		        <label for="usernameNew" class="control-label">Username:</label>
				<input class="form-control" type="text" name="usernameNew" value="">

			</div>
		    <div class="form-group">
		    	<label for="emailNew" class="control-label">Email:</label>
				<input class="form-control" type="text" name="emailNew" value="">
			</div>
		</div>


		<div class="col-sm-12 col-md-6">
		  <div class="form-group">
		        <label for="passwordNew" class="control-label">New Password:</label>
				<input class="form-control" type="text" name="passwordNew">
			</div>

			<div class="form-group">
				<label for="passwordOld" class="control-label">Old Password:</label>
				<input class="form-control" type="text" name="passwordOld">
			</div>
		</div>

		<div class="col-sm-12 update-container">
			<input type="submit" class="btn btn-default roundbutton center-block" name="update" value="Update Details">
		</div>
	</form>
</div>
