body {
	background-color: #e7e7e7;
}

.nav {
	background-color: white;
}

.nav-section-margin-fix {
	margin-top: 90px;
}

.subscription-title {
	color: #212121;
	padding-bottom: 25px;
}

.subscription-title hr {
	width: 30%;
	color: #cdcdcd;
}

.content-container {
	overflow: hidden;
	background-color: white;
	border: 1px solid #f5f5f5;
	box-shadow: 3px 3px 7px #212121;

}


.thread-single-container {
	margin: 10px 0;

	background-color: white;
	border-bottom: 1px solid #cccccc;
	border-radius: 2px;
}


.thread-image-container {
}

.thread-image-container .thread-image {
	margin: 10px -5px;
	height:120px;
}

.thread-bottom-line {
	margin-top: 30px;
	padding: 0;
}

.thread-image-container {
	word-wrap: word-break;
}

.thread-info-container {
}

.thread-other-container {
}


.thread-posts-container {
	visibility: visible;
	margin-top: 25px;
}


.thread-posts-container .postimage {
	float: left;
	height: 30px;
}

.thread-posts-container a {
	margin-left: 10px;
	margin-top: 3px;
}

.thread-type-container {
	margin-left: 40px;
}

.load-more-container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.roundbutton {
	border-radius: 25px;
}

.thread-actions {
	float: right;
	margin-top: -100px;
}

.thread-actions ul {
	list-style-type: none;
}

.thread-actions li {
	text-align: right;
	padding-bottom: 5px;
}


.thread-content-marked {
	background-color:rgba(255,255,0,0.25);
}


.post-content-container {

	margin: 30px 0;
	background-color: white;
	border-bottom: 1px solid #cccccc;
	border-radius: 2px;
}

.post-content-container-reply {

	margin: 30px 50px;
	background-color: white;
	border-bottom: 1px solid #cccccc;
	border-radius: 2px;
}

.thread-post-info-container {
	margin-top: 10px;
}

.post-avatar-container .avatar-image {
	height:60px;
	margin-right: 40px;
}

.thread-post-avatar-container .avatar-image {
	height:100px;
	margin: 10px;
}

.pm-moreover {
	display: none;
}


.settings-more-button {
	margin-top: 30px;
}

.settings-update-container {
	margin-top: 70px;
}

.pm-body {
	display: none;
}

.pm-message {
	margin-top: 20px;
}

.update-container {
	margin: 20px 0;
}